body, html {
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #3b3b3b00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s ease;
}

main {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    border: 3px #000000 solid;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}

h2 {
    color: black;
    font-family: "Lato", sans-serif;
    font-size: large;
}

main a {
    background-color: #195db0;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    display: block;
}

main a:first-of-type {
    margin-top: 10px;
    margin-bottom: 10px;
}

main a:hover {
    opacity: 0.5;
}